<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="style/bootstrap.min.css" />
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
  <div class="container">

    <!-- Header and reset -->
    <div class="row section">
      <div class="col-sm-8 offset-sm-4">

          <h1 id="title">Rock Paper Scissors<small> (Round: <%=@game.number_of_rounds%>)</small></h1>

          <form method="post" action="/reset">
              <button type="submit" class="btn btn-primary">Reset Game</button>
          </form>

          <h2></h2>

      </div>
    </div>

    <!-- Who won last round -->
    <div class="row section">
      <div class="col-sm-4">
        <h4>Human Choice</h4>
        <img class="icons" src="/img/<%=@game.last_human_choice%>.png">
      </div>
      <div class="col-sm-4">
        <h1>Winner: <%=@game.last_winner%></h1>
      </div>
      <div class="col-sm-4">
        <h4>Computer Choice</h4>
        <img class="icons" src="/img/<%=@game.last_computer_choice%>.png">
      </div>

    </div>

    <!-- Input buttons -->
    <div class="row">
      <div class="col-sm-12 offset-sm-4">
        <h2>Make Your Choice</h2>
      </div>
    </div>
    <div class="row section">
      <div class="col-sm-1 offset-sm-4">
        <form method="post" action="/rock">
          <button type="submit" class=""><img src="/img/r.png"></button>
        </form>
      </div>
      <div class="col-sm-1">
        <form method="post" action="/paper">
          <button type="submit" class=""><img src="/img/p.png"></button>
        </form>
      </div>
      <div class="col-sm-1">
        <form method="post" action="/scissors">
          <button type="submit" class=""><img src="/img/s.png"></button>
        </form>
      </div>
    </div>


    <!-- Totals so far -->
    <div class="row section">
      <div class="col-sm-8 offset-sm-2">
        <center><h1>Totals:</h1></center>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2 offset-sm-3">
        <h4>Human</h4>
        <h4><%=@game.human_wins%></h4>
      </div>
      <div class="col-sm-2">
        <h4>Ties</h4>
        <h4><%=@game.ties%></h4>
      </div>
      <div class="col-sm-2">
        <h4>Computer</h4>
        <h4><%=@game.computer_wins%></h4>
      </div>
    </div>
  </div>
  </body>
</html>
